.auth {
    border: 1px solid var(--c-neutral-200);

    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);

    width: 18em;
    padding: var(--spacing-xl);

    border-radius: var(--border-radius-sm);

    box-shadow:
        0 4px 6px -1px rgb(0 0 0 / 0.1),
        0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.fieldContainer {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}

.errorContainer {
    user-select: none;
    background: var(--c-red-100);
    padding: var(--spacing-xs);
    border-radius: var(--border-radius-sm);
    text-align: center;

    & > span {
        font-size: var(--text-sm);
        line-height: var(--leading-sm);

        color: var(--c-red-600);
        font-weight: 500;
    }
}

.buttonContainer {
    display: grid;

    flex-grow: 0;
    grid-template-areas: "primary primary" "secondary tertiary";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content min-content;

    gap: var(--spacing-sm);
    width: 100%;

    & > *:first-child {
        grid-area: primary;
    }
}

.header {
    text-align: center;
    font-size: var(--text-xxl);
    line-height: var(--leading-xl);
    font-weight: 700;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .auth {
        width: 100%;
        max-width: 24em;
        border: none;
        box-shadow: none;
    }
}
