.button {
    padding: var(--spacing-xs) var(--spacing-sm);
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius-sm);

    font-size: var(--text-sm);
    line-height: var(--leading-sm);
    font-weight: 600;
    font-family: inherit;

    outline: 0px solid var(--c-blue-600);
    outline-offset: 2px;
    transition: outline 0.1s ease;

    white-space: nowrap;
    user-select: none;

    &:focus {
        outline: 3px solid var(--c-blue-500);
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.primary {
    background: var(--c-blue-600);
    color: var(--c-neutral-0);

    &:hover {
        background: var(--c-blue-700);
    }

    &:active {
        background: var(--c-blue-800);
    }

    &.disabled {
        background: var(--c-neutral-300);
        color: var(--c-neutral-500);
    }
}

.secondary {
    color: var(--c-blue-600);
    background: var(--c-blue-50);

    &:hover {
        background: var(--c-blue-100);
    }
    &:active {
        background: var(--c-blue-200);
    }

    &.disabled {
        background: var(--c-neutral-100);
        color: var(--c-neutral-500);
    }
}

.tertiary {
    background: none;
    background: 1px solid transparent;
    color: var(--c-neutral-500);
    font-size: var(--text-xs);
    font-weight: 400;

    text-decoration: none;

    &:hover {
        background: var(--c-neutral-100);
    }

    &:active {
        background: var(--c-neutral-200);
    }

    &.disabled {
        background: none;
        color: var(--c-neutral-300);
    }
}

@media (prefers-color-scheme: dark) {
    .secondary {
        color: var(--c-blue-400);
        background: var(--c-blue-950);

        &:hover {
            background: var(--c-blue-900);
        }
        &:active {
            background: var(--c-blue-800);
        }

        &.disabled {
            background: var(--c-neutral-900);
            color: var(--c-neutral-500);
        }
    }

    .tertiary {
        color: var(--c-neutral-400);

        &:hover {
            background: var(--c-neutral-900);
        }

        &:active {
            background: var(--c-neutral-800);
        }

        &.disabled {
            background: none;
            color: var(--c-neutral-300);
        }
    }
}
