@use "./mixins.scss";

.button {
    padding: var(--spacing-xs) var(--spacing-sm);
    cursor: pointer;
    border: none;
    border-radius: var(--border-radius-sm);

    font-size: var(--text-sm);
    line-height: var(--leading-sm);
    font-weight: 600;
    font-family: inherit;

    outline: var(--outline-focus--off);
    outline-offset: var(--outline-focus--offset);
    transition: outline 0.1s ease;

    white-space: nowrap;
    user-select: none;

    &:focus {
        outline: var(--outline-focus--on);
    }

    &:disabled {
        cursor: not-allowed;
    }
}

.primary {
    background: var(--c-component--primary);
    color: var(--c-component-label--primary);

    &:hover {
        background: var(--c-component--primary--hover);
    }

    &:active {
        background: var(--c-component--primary--active);
    }

    &.disabled {
        background: var(--c-component--primary--disabled);
        color: var(--c-component-label--primary--disabled);
    }
}

.secondary {
    color: var(--c-component-label--secondary);
    background: var(--c-component--secondary);

    &:hover {
        background: var(--c-component--secondary--hover);
    }
    &:active {
        background: var(--c-component--secondary--active);
    }

    &.disabled {
        background: var(--c-component--secondary--disabled);
        color: var(--c-component-label--secondary--disabled);
    }
}

.tertiary {
    background: transparent;
    color: var(--c-component-label--neutral);

    font-size: var(--text-xs);
    font-weight: 400;

    text-decoration: none;

    &:hover {
        background: var(--c-component--neutral--fill--hover);
    }

    &:active {
        background: var(--c-component--neutral--fill--active);
    }

    &.disabled {
        background: none;
        color: var(--c-component-label--neutral--disabled);
    }
}
