@use "./mixins.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
    margin: 0;

    color: var(--c-neutral-900);
    font-family: "Montserrat", sans-serif;

    background: var(--c-neutral-0);
    @include mixins.dark {
        background: var(--c-neutral-1000);
        color: var(--c-neutral-200);
    }

    @include mixins.breakpoint-max(sm) {
        background: var(--c-neutral-50);
        @include mixins.dark {
            background: var(--c-neutral-900);
        }
    }
}

html,
body,
#root {
    height: 100%;
}

:root {
    --spacing-xxs: 4px;
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 48px;
    --spacing-xxl: 64px;

    --border-radius-xs: 2px;
    --border-radius-sm: 4px;
    --border-radius-md: 8px;

    --c-neutral-0: #ffffff;
    --c-neutral-50: #f9fafb;
    --c-neutral-100: #f3f4f6;
    --c-neutral-200: #e5e7eb;
    --c-neutral-300: #d1d5db;
    --c-neutral-400: #9ca3af;
    --c-neutral-500: #6b7280;
    --c-neutral-600: #4b5563;
    --c-neutral-700: #374151;
    --c-neutral-800: #1f2937;
    --c-neutral-900: #111827;
    --c-neutral-950: #030712;
    --c-neutral-1000: #000000;

    @include mixins.dark {
        --c-neutral-0: #ffffff;
        --c-neutral-50: #fafafa;
        --c-neutral-100: #f4f4f5;
        --c-neutral-200: #e4e4e7;
        --c-neutral-300: #d4d4d8;
        --c-neutral-400: #a1a1aa;
        --c-neutral-500: #71717a;
        --c-neutral-600: #52525b;
        --c-neutral-700: #3f3f46;
        --c-neutral-800: #27272a;
        --c-neutral-900: #18181b;
        --c-neutral-950: #09090b;
        --c-neutral-1000: #000000;
    }

    --c-blue-50: #eff6ff;
    --c-blue-100: #dbeafe;
    --c-blue-200: #bfdbfe;
    --c-blue-300: #93c5fd;
    --c-blue-400: #60a5fa;
    --c-blue-500: #3b82f6;
    --c-blue-600: #2563eb;
    --c-blue-700: #1d4ed8;
    --c-blue-800: #1e40af;
    --c-blue-900: #1e3a8a;
    --c-blue-950: #172554;

    --c-red-100: #fee2e2;
    --c-red-200: #fecaca;
    --c-red-300: #fca5a5;
    --c-red-400: #f87171;
    --c-red-500: #ef4444;
    --c-red-600: #dc2626;
    --c-red-700: #b91c1c;
    --c-red-800: #991b1b;
    --c-red-900: #7f1d1d;
    --c-red-950: #450a0a;

    --text-xs: 0.75rem;
    --text-sm: 0.875rem;
    --text-md: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.5rem;
    --text-xxl: 2rem;

    --leading-xs: 1rem;
    --leading-sm: 1.25rem;
    --leading-md: 1.5rem;
    --leading-lg: 1.75rem;
    --leading-xl: 2rem;
    --leading-xxl: 2.5rem;
}
