@use "./mixins.scss";

.textInput {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);

    & > label {
        color: var(--c-text--base);
        font-size: var(--text-sm);
        font-weight: 600;
        user-select: none;
    }

    & > input {
        font-family: "Montserrat", "sans-serif";
        font-weight: 500;

        padding: var(--spacing-xs);
        border-radius: var(--border-radius-xs);

        color: var(--c-text--base);

        border: none;
        outline: 1px solid var(--c-component--neutral--stroke);
        background: var(--c-component--neutral--fill);

        transition: outline 0.1s ease;

        &:focus {
            outline: var(--outline-focus--on);
        }

        &::placeholder {
            color: var(--c-text--placeholder);
            user-select: none;
        }
    }

    &.disabled > input {
        cursor: not-allowed;

        outline-color: var(--c-component--neutral--stroke--disabled);
        background: var(--c-component--neutral--fill--disabled);
        color: var(--c-text--subdued);
    }

    &.error > input {
        outline-color: var(--c-outline--error);
    }
}

.errorText {
    font-size: var(--text-xs);
    line-height: var(--leading-xs);

    font-weight: 500;

    color: var(--c-text--error);
}
