@use "./mixins.scss";

.textInput {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);

    & > label {
        font-size: var(--text-sm);
        font-weight: 600;
        user-select: none;

        @include mixins.dark {
            color: var(--c-neutral-200);
        }
    }

    & > input {
        font-family: "Montserrat", "sans-serif";
        padding: var(--spacing-xs);
        border-radius: var(--border-radius-xs);

        border: none;
        outline: 1px solid var(--c-neutral-300);

        transition: outline 0.1s ease;

        &:focus {
            outline: 3px solid var(--c-blue-500);
        }

        &::placeholder {
            color: var(--c-neutral-400);
            user-select: none;
        }

        @include mixins.dark {
            background: var(--c-neutral-950);
            color: var(--c-neutral-200);
            outline: 1px solid var(--c-neutral-600);

            &::placeholder {
                color: var(--c-neutral-600);
            }
        }
    }

    &.disabled > input {
        cursor: not-allowed;

        background: var(--c-neutral-100);
        color: var(--c-neutral-400);
        @include mixins.dark {
            background: var(--c-neutral-800);
            color: var(--c-neutral-400);
        }
    }

    &.error > input {
        outline-color: var(--c-red-600);

        @include mixins.dark {
            outline-color: var(--c-red-500);
        }
    }
}

.errorText {
    font-size: var(--text-xs);
    line-height: var(--leading-xs);

    font-weight: 500;

    color: var(--c-red-600);
    @include mixins.dark {
        color: var(--c-red-500);
    }
}
