.main {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);

    & > label {
        font-size: var(--text-sm);
        font-weight: 600;
    }

    & > input {
        font-family: "Montserrat", "sans-serif";
        padding: var(--spacing-xs);
        border-radius: var(--border-radius-xs);

        border: none;
        outline: 1px solid var(--c-neutral-300);

        transition: outline 0.1s ease;

        &:focus {
            outline: 3px solid var(--c-blue-500);
        }

        &::placeholder {
            color: var(--c-neutral-400);
        }
    }
}
